
.col-centered {
    float: none;
    margin: 0 auto;
}

.text-center {
  text-align: center;
}

.word-wrap {
  white-space: normal !important;
  line-height: 0.5;
}

.content {
  margin-top: 60px;
  max-width: 720px;
}

.bottom-margin {
  margin-bottom: 10px;
}

.question {
  text-align: center;
  margin: 5px;
}

.answer {
  height: 75px;
}

.postquestion label, .postquestion input{
  display: inline-block;
}