<div class="row" ng-model="questions[0]">
  <div class="col-xs-8 col-xs-offset-2 text-center">
    <h3 class="row question"> {{ questions[0].text }}</h3>
      <div class="row">
        <div class="col-sm-6">
          <div class="answer btn btn-info word-wrap" ng-click="sendAnswer($event)" data-answerid=" {{ questions[0].answers[0].id }}">{{ questions[0].answers[0].text }}</div>
        </div>      
        <div class="col-sm-6 bottom-margin">
          <div class="answer btn btn-info word-wrap" ng-click="sendAnswer($event)" data-answerid=" {{ questions[0].answers[1].id }}">{{ questions[0].answers[1].text }}</div>
        </div>
      </div>
      <div class="row">      
        <div class="col-sm-6">
          <div class="answer btn btn-info word-wrap" ng-click="sendAnswer($event)" data-answerid=" {{ questions[0].answers[2].id }}">{{ questions[0].answers[2].text }}</div>
        </div>      
        <div class="col-sm-6">
          <div class="answer btn btn-info word-wrap" ng-click="sendAnswer($event)" data-answerid=" {{ questions[0].answers[3].id }}">{{ questions[0].answers[3].text }}</div>
        </div>      
      </div>
      <div class="row"> Please choose an answer</div>
    </div>
  </div>
</div>