<div class="col-sm-6 col-sm-offset-3">
  <div class="row">
    <form class="login form-signin" ng-submit="signup()">
        <h3> Please signup:</h3>
        <input type="text" ng-model="user.username" class="form-control" placeholder="Username" required="" autofocus="">
        <input type="password" ng-model="user.password" class="form-control" placeholder="Password" required="">
        <button class="btn btn-md btn-info btn-block" type="submit">Signup</button>
    </form>
  </div>
  <div class="row">
    <div class="help-block"> {{ errorMessage }} </div>
    <div ui-sref="login" class="text-center">If you have an account, click here to log in.</div>
  </div> 
</div>  